header {
	padding: 5vh 0;
	border-bottom: 2px solid #ddd;
	ul {
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 30px;
		li {
			&.on {
				background: hotpink;
				padding: 0 10px;
				border-radius: 5px;
			}
			&.logout {
				width: 150px;
				button {
					width: 100%;
					min-width: auto;
				}
			}
		}
	}
}
main {
	padding: 30px;
}

.input-wrap {
	padding: 5px;
	> span:first-child {
		display: inline-block;
		padding-right: 10px;
		min-width: 100px;
	}
	input {
		border: 1px solid #ddd;
		padding: 10px;
		border-radius: 5px;
	}
}

form {
	border: 1px solid lightblue;
	padding: 30px;
}
button,
input[type='submit'] {
	display: inline-block;
	margin: 5px;
	background: rgb(234, 232, 232);
	outline: none;
	border: none;
	height: 30px;
	min-width: 50px;
	border-radius: 5px;
}

h1 {
	padding: 5px;
}

.community {
	display: flex;
	justify-content: space-between;
	.content {
	}
	.list {
		padding: 30px;
		border: 1px solid #ddd;
	}
}

.topSubs {
	li {
		padding: 5px;
	}
}

.community-detail {
	.banner {
		position: relative;
		.no-banner {
			width: 100%;
			height: 40px;
			background: #ccc;
		}
		.url {
			position: absolute;
			top: 10px;
			left: 10px;
		}
	}

	.content {
		padding-top: 30px;
		display: flex;
		gap: 20px;
		.left {
			border: 1px solid #eee;
			width: 60vw;
		}
		.right {
			position: relative;
			width: 40vw;
			border: 1px solid #ddd;
			padding: 20px;
			.intro {
				position: absolute;
				top: 0;
				left: 0;
				background: lightgoldenrodyellow;
				width: 100%;
				height: 40px;
				h3 {
					padding: 10px;
				}
			}
			.detail {
				padding-top: 45px;
			}
		}
	}
}
