header {
	padding: 5vh 0;
	border-bottom: 2px solid #ddd;
	ul {
		display: flex;
		justify-content: space-around;
		gap: 30px;
		li {
			&.on {
				background: hotpink;
				padding: 0 10px;
				border-radius: 5px;
			}
		}
	}
}
main {
	padding: 30px;
}
